asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
bsddb3==6.2.4
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==1.9
cssselect==1.0.1
dateparser==0.6.0
enum34==1.1.6
idna==2.5
incremental==17.5.0
ipaddress==1.0.18
lxml==3.8.0
parsel==1.2.0
pdfminer==20140328
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.17
PyDispatcher==2.0.5
pyOpenSSL==17.0.0
python-dateutil==2.6.0
pytz==2017.2
queuelib==1.4.2
regex==2017.6.7
requests==2.17.3
ruamel.ordereddict==0.4.9
ruamel.yaml==0.15.5
Scrapy==1.4.0
scrapy-deltafetch==1.2.1
service-identity==17.0.0
six==1.10.0
Twisted==17.1.0
tzlocal==1.4
urllib3==1.21.1
w3lib==1.17.0
zope.interface==4.4.1
